<div class="row align-items-md-stretch">
  <%- include("./jumbotron-dark");  %>
  <%- include("./jumbotron-light");  %>
  <div>&nbsp;</div>
  <%# include("./jumbotron-dark");  %>
  <%# include("./jumbotron-light");  %>
</div>