<h2><%- tagline %></h2>
<ul>
  <% mascots.forEach(function(mascot) { %>
    <li>
      <strong><%= mascot.name %></strong>
      representing <%= mascot.organization %>,
      born <%= mascot.birth_year %>
    </li>
  <% }); %>
</ul>