<nav class="navbar navbar-expand-lg navbar-light bg-dark mb-3 px-3">
  <a class="navbar-brand text-light" href="/">Navbar</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link text-light" href="/">Inicio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" href="/about">About</a>
    </li>
    <li class="nav-item">
      <a class="text-light btn btn-<%- primary %> mx-2" href="/about">Botón primary</a>
    </li>
    <li class="nav-item">
      <a class="text-dark btn btn-<%- warning %> mx-2" href="/about">Botón warning</a>
    </li>
    <li class="nav-item">
      <a class="text-light btn btn-<%- success %> mx-2" href="/about">Botón success</a>
    </li>
  </ul>
</nav>