<div class="col-md-6">
  <div class="h-100 p-5 text-white bg-dark rounded-3">
    <h2>Dark</h2>
    <p>Swap the background-color utility and add a `.text-*` color utility to mix up the jumbotron look. Then, mix and match with additional component themes and more.</p>
    <button class="btn btn-outline-light" type="button">Example button</button>
  </div>
</div>