<footer class="fixed-bottom py-2">
  <div class="mx-auto text-center">
    <p>Footer</p>
    <% if (pagina != "index") { %>
      <a href="/" class="btn btn-primary my-1 d-inline-block mx-auto">Volver</a>
    <% } %>
  </div>
</footer>