<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title><%- title %></title>

  <!-- Cargamos hoja de Bootstrap desde el servidor -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">

  <style>
    body{
      background-color: #dfdfdf;
    }
  </style>
</head>