body {
  background-color: beige;
}
label,
input {
  display: block;
  margin: 10px;
}
/* Barra de progreso */
#progreso>div {
  background-color: #f0ad4e;
  height: 1.65rem;
  width: 1.55rem;
  border-radius: 50px;
}

#progreso>div:nth-child(1) {
  background-color: brown;
}

/* Línea entre secciones de la barra de progreso */
#linea {
  position: absolute;
  top: 60px;
  width: 60%;
  left: 20%;
  background-color: brown;
  height: 2px;
  opacity: 1;
  z-index: -1;
}