body {
    background-color: beige;
  }
  h1 {
    color: brown;
    margin: 20px 0px;
  }
  label,
  input {
    display: block;
    margin: 10px;
  }
  /* Barra de progreso */
  #progreso>div {
    background-color: #f0ad4e;
    height: 1.65rem;
    width: 1.55rem;
    border-radius: 50px;
  }
  
  #progreso>div:nth-child(1) {
    background-color: brown;
  }
  
  /* Línea entre secciones de la barra de progreso */
  #linea {
    position: absolute;
    top: 95px;
    width: 60%;
    left: 20%;
    background-color: brown;
    height: 2px;
    opacity: 1;
    z-index: -1;
  }
  /* Títulos de secciones */
  #titulos>div {
    color: brown;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.25rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  /* Form */
  #form {
    width: 40%;
    margin: 0 auto;
  }
  
  label {
    font-size: 1.25rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  input {
    font-size: 1.25rem;
    height: 2.5rem;
  }
  
  /* Botones */
  #anterior,
  #siguiente {
    background-color: #f0ad4e;
  }
  
  #enviar {
    background-color: brown;
  }
  /* Secciones */
  section:not(.active) {
    display: none;
  }
  /* Nav */
  #nav {
    background-color: lightgray;
  }
  
  #nav>button {
    border: 2px solid brown;
    font-size: 1.25rem;
    padding: 5px 20px;
    margin: 0 20px;
  }
  code {
    padding: 0 10px;
  }