<%- include('../partials/head')  %>
<body>
<div class="row pt-5 justify-content-center">
  <div class="col-3 text-center">
    <h1 class="text-center"><%- title %></h1>
    <a href="/register" class="btn btn-primary my-1 d-inline-block mx-auto">Registro</a>
    <a href="/login" class="btn btn-primary my-1 d-inline-block mx-auto">Login</a>
    
  </div>
</div>
<%- include('../partials/footer') %>
</body>
</html>