body { 
    background-color: beige; 
    font-family:Arial, Helvetica, sans-serif;
}
h1 { color: brown; }
h2 { 
    color: #0092be; 
    font-size: large;
    text-decoration: underline;
}
p { 
    color:rgb(75, 75, 75); 
    
    /* Podemos poner ancho, estilo y color
    de borde por separado: */
    /* 
    border-width: 1px;
    border-style: dotted;
    border-color: lightgray; 
    */

    /* O podemos utilizar border: */
    border: 2px solid burlywood;

    border-radius: 10px;
}
a {
    color: #e34e26;
    /* text-decoration: none; */
}